.header {
  background-image: url('../images/header_bg.jpg');
  background-size: cover;
}
.store-sign {
  margin: 20px;
  padding:10px;
  color: white;
  display: inline-block;
}

.store-sign h1 {
  margin-bottom: -10px;
}

.store-sign p {
  margin-left: 20px;
}
a {
  text-decoration: none;
}
.nav-bar {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

.nav-bar a {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 5px;
  font-size: 20px;
  color: white;
}

.display-area {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-select {
  display: inline-block;
  width: 200px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.3);
}

.book-thumbnail, .book-thumbnail img {
  margin: 0 auto;
  width: 180px;
}

.text {
  display: block;
  text-align: center;
}

.star-ratings-css {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
  color: #eee;
}

.book-detail {
  display: flex;
  justify-content: space-between;
}

.book-detail img {
  width: 300px;
}

.book-info {
  margin-left: 10px;
}

.book-name,
.book-author,
.book-date
{
  display: block;
}

.book-name {
  font-size: 25px;
}

.book-author {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
